body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: Segoe Ui;
    font-size: 2.6vw;
}

#controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: gray;
    height: 100px;
    width: 100vw;
    border-radius: 25px;
}

button{
    border: none;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    font-weight: bold;
    height: 70px;
    width: 70px;
}

img{
    height: 50px;
    width: 50px;
    object-fit: contain;
}

#micupBtn{
    background-color: #4f6880;
    transition: 0.3s ease-in;
}

#micupBtn:hover{
    background-color: #364757;
}

#camupBtn{
    background-color: #5c4f80;
    transition: 0.3s ease-in;
}

#camupBtn:hover{
    background-color: #3e3164;
}

#setBackground{
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
}

#setup{
    border-radius: 20px;
    height: 380px;
    width: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkslategrey;
}

#camdevSet, #micdevSet{
    margin: 5px;
    width: 25vw;
    height: 5vh;
}

select{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8), inset 0px 0px 20px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    font-size: 30px;
    border: 4px, solid rgb(59, 58, 58);
}

option{
    box-shadow: 0 4px 20px rgb(255, 0, 0);
    font-size: 20px;
    border-radius: 20px;
}

#reqPermBtn{
    margin-top: 10px;
    background-color: salmon;
    font-size: 20px;
    width: 220px;
    transition: 0.3s ease-in;
}

#reqPermBtn:hover{
    background-color: darksalmon;
}